.homeTitle{
    text-align: center;
    margin: 20px auto;
    color: rgb(255, 0, 166);
}

.homeList{
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
    list-style: none;
    margin-left: auto;
    margin-right: auto;
  
}

.homeItem{
    display: flex;
    flex-direction: column;
    padding: 10px;
    width: 350px;
}

.homeNavLink{
    text-decoration: none;
    color: rgb(217, 28, 163);
    font-weight: 500;
}